<div id="container" class="d-flex flex-column w-100 pt-4 justify-content-center mx-auto" style="max-width: 800px;">

    <form [formGroup]="todoListFormGroup">

      <mat-form-field class="w-100" appearance="fill">
        <mat-label>What needs to be done?</mat-label>
        <input
          matInput
          formControlName="task"
          placeholder="What needs to be done?"
          autofocus
        />

        <mat-error>You must have something to do to be able to add it.</mat-error>
      </mat-form-field>

      <button class="d-none" mat-flat-button (click)="addTaskToList()" type="submit">submit</button>
    </form>

    <hr />

    <p class="text-white">Incomplete tasks</p>

    <ng-container *ngFor="let task of tasks | async; let i = index">
      <todo-list-item
        *ngIf="!task.done"
        [task]="task?.task"
        [checked]="task?.done"
        (completed)="completeTask($event, i)"
        (removed)="removeTaskFromList($event, i)"
      >
      </todo-list-item>
    </ng-container>    

    <small class="text-muted mt-2" [ngPlural]="totalIncompleteTasks()">
      <span>You have </span>
      <strong class="text-white"> {{ totalIncompleteTasks() }} </strong>
      <ng-template ngPluralCase="=1">Task</ng-template>
      <ng-template ngPluralCase="other">Tasks</ng-template>
      <span> left to do. </span>
      <ng-template ngPluralCase="=0">Congratulations!</ng-template>
    </small>

    <hr />

    <p class="text-white">Completed tasks</p>
    <small class="text-white text-muted" *ngIf="!totalCompleteTasks()">
      You have not completed any tasks.  Better get moving!
    </small>

    <ng-container *ngFor="let task of tasks | async; let i = index">

      <todo-list-item
        *ngIf="task.done"
        class="dark"
        [task]="task?.task"
        [checked]="task?.done"
        (completed)="completeTask($event, i)"
        [canRemove]="false"
      >
      </todo-list-item>
    </ng-container>

</div>