<mat-card class="d-flex my-2" [ngClass]="{'py-2': canRemove}">
    <mat-checkbox class="my-auto" [checked]="checked" (change)="completedClick($event)">{{ task }}</mat-checkbox>
    <button *ngIf="canRemove" mat-icon-button color="warn" class="ms-auto" (click)="removedClick()">
      <mat-icon>delete</mat-icon>
    </button>
</mat-card>