@import '~@angular/material/theming';
@include mat-core();

$app-light: (
  // 50: #818c8c,
  // 100: #4c8cc4,
  // 200: #b4bcbc,
  // 300: #b4b4bb,
  // 400: #c0c5c9,
  500: #2B2D43,
  600: #1B1E30,
  700: #30C09F,
//   800: #89BBFE,
  900: #EF7B7C,
  // A100: #8c9eff,
  // A200: #536dfe,
  // A400: #3d5afe,
  // A700: #304ffe,
  contrast: (
    // 50: $dark-primary-text,
    // 100: $dark-primary-text,
    // 200: $dark-primary-text,
    // 300: $light-primary-text,
    // 400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    // 800: $dark-primary-text,
    900: $dark-primary-text,
    // A100: $light-primary-text,
    // A200: $light-primary-text,
    // A400: $light-primary-text,
    // A700: $light-primary-text,
  )
);

$app-primary: mat-palette($app-light);
$app-dark: mat-palette($app-light, 600);
$app-accent: mat-palette($app-light, 700);
$app-warn: mat-palette($app-light, 900);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$app-theme: mat-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn,
  )
));

$app-dark-theme: mat-dark-theme((
  color: (
    primary: $app-dark,
    accent: $app-accent,
    warn: $app-warn,
  )
));

@include angular-material-theme($app-theme);

.dark {
  @include angular-material-theme($app-dark-theme);
}

