@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import 'src/app/theming/abstracts/variables';

*:not(.mat-icon) {
    font-family: 'Montserrat', sans-serif !important;
}

body {
    background-color: var(--primary-color) !important;
    min-height: 100vh;
}

@import 'src/app/theming/theme/material-theming';
@import 'src/app/theming/vendors/material/material';
@import 'src/app/theming/vendors/_bootstrap';

hr {
    background-color: rgba(255, 255, 255, .4);
}